/* General */

html,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: var(--background-base);
}

html {
  --background: white;
  --text-color: lightgray;
  --background-base: black;
  --color: rgba(123, 104, 238, 0.5);
  --header-color: ;
  /* min-height: 5000px; */
  scroll-behavior: smooth;
}

:root {
  counter-reset: heading;
}

/* Navbar Section */

.navbar {
  z-index: 99;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  height: 7rem;
  width: 100%;
  padding: 12px;
  background-color: var(--color);
  position: fixed;
  flex-shrink: 1;
}

.menu {
  display: none;
}

.navbar h1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3rem;
  margin-right: auto;
  font-size: 2.6rem;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(
    32deg,
    rgba(180, 139, 58, 1) 44%,
    rgba(253, 29, 51, 1) 80%
  );
  background-clip: text; /* standar, tapi belum semua browser dukung */
  color: transparent; /* fallback */
}
.navbar h1 span {
  font-size: 3.5rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  margin: auto;
  min-width: 40px;
  flex-shrink: 1;
}

.navbar ul li {
  margin: 0 20px 0;
  list-style-type: none;
  padding: 3px;
  box-sizing: border-box;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 23px;
  color: var(--text-color);
  transition: 200ms;
}

.navbar ul li a:hover {
  background: linear-gradient(
    32deg,
    rgba(180, 139, 58, 1) 44%,
    rgba(253, 29, 51, 1) 80%
  );
  background-clip: text; /* standar, tapi belum semua browser dukung */
  color: transparent; /* fallback */
}

/* navbar responsive */

.navbarR {
  max-width: 300px;
  min-width: 50px;
  margin-top: 137px;
  padding: 30px;
  height: 400px;
  background-color: rgba(123, 104, 238, 0.5);
  position: fixed;
  z-index: 100;
  right: -240px;
  transition: right 400ms ease;
}

.navbarR.TnavbarR {
  right: 0;
}

.navbarR ul li {
  list-style-type: none;
  margin: 5rem auto;
}
.navbarR ul li a {
  text-decoration: none;
  color: rgba(180, 139, 58, 1);
  font-family: "Courier New", Courier, monospace;
  font-size: 23px;
}

/* hero section */

.container {
  z-index: 1;
  margin: 12rem auto 0;
  position: absolute;
  width: 100%;
  justify-content: center;
}

.hero {
  padding: 11rem 20px 20px;
  margin: auto;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.img {
  width: 400px;
  background-image: url(profil2.png);
  height: 500px;
  box-shadow: 0 0 10px #00f /* cahaya kecil dekat elemen */;
  transition: 400ms ease;
}

.img:hover {
  box-shadow: 1px 0 20px #fff;
}

.header-hero,
.contact h1 {
  font-size: 40px;
  background: #3a81b4;
  background: linear-gradient(
    188deg,
    rgba(58, 129, 180, 1) 44%,
    rgba(175, 29, 253, 1) 75%
  );
  background-clip: text; /* standar, tapi belum semua browser dukung */
  color: transparent; /* fallback */
  font-family: "Courier New", Courier, monospace;
  margin: 12px;
  margin-left: 60px;
}

.isi {
  max-width: 600px;
  margin: 40px;
}

.isi-hero {
  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

/* About Me section */
.About-Me,
.contact {
  padding: 11rem 20px 20px;
  margin: auto;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.header-About {
  font-size: 40px;
  background: #3a81b4;
  background: linear-gradient(
    188deg,
    rgba(58, 129, 180, 1) 44%,
    rgba(175, 29, 253, 1) 75%
  );
  background-clip: text; /* standar, tapi belum semua browser dukung */
  color: transparent; /* fallback */
  font-family: "Courier New", Courier, monospace;
  margin: 12px;
  margin-left: 60px;
}

.pendidikan h2 {
  color: var(--text-color);
  margin-left: 7rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.pendidikan h3 {
  counter-increment: heading;
  color: var(--text-color);
  margin-left: 9rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.pendidikan p {
  color: var(--text-color);
  margin-left: 11rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
}

.pendidikan h3::before {
  content: counter(heading);
  background: #3a81b4;
  background: linear-gradient(
    188deg,
    rgba(58, 129, 180, 1) 44%,
    rgba(175, 29, 253, 1) 75%
  );
  border-radius: 1px;
  padding: 0.15em 0.15em;
  width: 50px;
  text-align: center;
  margin: 3rem;
}

/* Contact section */
.contact {
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 9rem auto;
  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
}

label {
  font-weight: 600;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 17rem;
}

button {
  background-color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem;
  text-align: center;
  background: #3a81b4;
  transition: 600ms linear;
}

button:hover {
  background: #3a81b4;
  background: linear-gradient(
    188deg,
    rgba(58, 129, 180, 1) 44%,
    rgba(175, 29, 253, 1) 75%
  );
  border-radius: 2px;
  border-color: #3a81b4;
}

form input {
  padding-right: 3rem;
}
form textarea {
  padding-right: 3rem;
}

/* media query */

@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
  .navbar ul li a {
    font-size: 15px;
  }

  .pendidikan h3,
  .pendidikan p {
    margin-left: 0;
  }

  form label {
    font-size: 2rem;
  }

  form input {
    padding-right: 5rem;
  }
  form textarea {
    padding-right: 5rem;
  }

  .navbarR {
    margin-top: 80px;
  }
}

@media (max-width: 440px) {
  .navbar ul li {
    display: none;
  }

  .menu {
    display: flex;
    margin: auto;
    min-width: 70px;
    padding: 3px;
    flex-shrink: 1;
    color: var(--text-color);
  }

  .menu:hover {
    color: rgba(180, 139, 58, 1);
  }

  .menu:active {
    color: rgba(253, 29, 51, 1);
  }
}
